params {
  version = "latest"
  input = "vep.tsv.gz"

  num_epoch = 20
  batch_size = 1024
  no_gsm = false

  cpus = 8
  memory = "50 GB"
}

executor.name = "awsbatch"
docker.enabled = true
process {
  cpus = params.cpus
  memory = params.memory

  container = "docker.io/filtratesubsidebasketmower/filtratesubsidebasketmower:${params.version}"
  containerOptions = "--gpus all"
  accelerator = 1
}
